version: "3"

services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://Lasyachoudarie:Muralikrishna9@@cluster0.e0ags9u.mongodb.net/?appName=Cluster0
      - WEATHER_KEY="70f0382ace3a1dea537ea74a7f00fcd2"
    
    

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - backend

  
